.footer,
.top-link {
    font-size: 12px;
    color: var(--secondary);
}

.footer {
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    text-align: center;
    line-height: 24px;
}

.footer span {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

.footer span:last-child {
    white-space: nowrap;
}

.footer a {
    color: inherit;
    border-bottom: 1px solid var(--secondary);
}

.footer a:hover {
    border-bottom: 1px solid var(--primary);
}

.top-link-light {
    display: inline-flex; /* Use inline-flex to make the link inline but also a flex container */
    align-items: center; /* Center the SVG vertically */
    justify-content: center; /* Center the SVG horizontally */
    position: fixed; /* Fixed position to stay in place during scroll */
    bottom: 20px; /* Position from the bottom */
    right: 20px; /* Position from the right */
    z-index: 99; /* High z-index to keep it above other content */
    background: #c8c8c8; /* Light grey background, replace with any color or CSS variable */
    width: 50px; /* Width of the button */
    height: 50px; /* Height of the button */
    padding: 0px; /* Padding around the SVG */
    border-radius: 50%; /* Rounded corners to make it a circle */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Shadow for a bit of depth */
    text-decoration: none; /* Remove underline from the link */
    transition: background 0.5s, visibility 1s, opacity 1s linear; /* Smooth transition for hover effect */
    visibility: hidden;
}

.top-link-light:hover {
    background: #999; /* Darker background on hover */
}

.top-link-dark {
    display: inline-flex; /* Use inline-flex to make the link inline but also a flex container */
    align-items: center; /* Center the SVG vertically */
    justify-content: center; /* Center the SVG horizontally */
    position: fixed; /* Fixed position to stay in place during scroll */
    bottom: 20px; /* Position from the bottom */
    right: 20px; /* Position from the right */
    z-index: 99; /* High z-index to keep it above other content */
    background: #555; /* Light grey background, replace with any color or CSS variable */
    width: 50px; /* Width of the button */
    height: 50px; /* Height of the button */
    padding: 0px; /* Padding around the SVG */
    border-radius: 50%; /* Rounded corners to make it a circle */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Shadow for a bit of depth */
    text-decoration: none; /* Remove underline from the link */
    transition: background 0.5s, visibility 1s, opacity 1s linear; /* Smooth transition for hover effect */
    visibility: hidden;
}

.top-link-dark:hover {
    background: #444; /* Darker background on hover */
}

.arrow-icon {
    filter: invert(20%); /* Color of the arrow, replace with any color or CSS variable */
}

.arrow-icon-dark {
    filter: invert(80%); /* Color of the arrow, replace with any color or CSS variable */
}