<link rel="icon" href="/favicon.svg">
<link rel="manifest" href="/site.webmanifest">

<script>MathJax = {loader: {load: ['ui/lazy']}, options: {lazyMargin: '1000px', lazyAlwaysTypeset: null}};</script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>

<div style="display: none;">\(\require{mathtools}\)</div>

<link href="/syntax_highlighting/prism.css" rel="stylesheet"/>
<script src="/syntax_highlighting/prism.js" data-manual></script>
<script src="/syntax_highlighting/SyntaxHighlighting.js"></script>

<style>
.simplebar-scrollbar::before {background-color: #999999;}
pre.source-code .simplebar-track.simplebar-horizontal {bottom: 20px;}
pre.source-code {margin-bottom: -10px;}
pre.source-code div[data-simplebar] {margin-bottom: -65px; margin-top: -65px;}
pre.source-code .source-code-wrapper {overflow-x: visible;}
</style>

<link href="/svg_handler/svg_colors.css" rel="stylesheet"/>
<script src="/svg_handler/svg_manager.js"></script>